:root {
  --black: rgb(1, 0, 0);
  --off-white: rgb(225, 211, 202);
  --white: rgb(232, 235, 236);
  --teal: rgb(53, 184, 179);
  --dark-teal: rgb(46, 158, 154);
}

html {
  height: 100%;
  width: 100%;
  ::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}

body {
  background: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}

section {
  margin-bottom: 500px;
}
main {
  margin-bottom: 60px;
  overflow-y: scroll;
  scroll-snap-type: initial;
}

h1 {
  color: var(--off-white);
  display: inline-block;
  font-size: clamp(35px, 3vw, 96px);
  line-height: normal;
  padding: 10px;
  -webkit-text-stroke: 1px rgba(1, 0, 0, 0.4);
}

h2 {
  color: var(--black);
  font-size: 35px;
  margin: 3px 0px;
  -webkit-text-stroke: 1px rgba(1, 0, 0, 0.4);
}

h3 {
  color: var(--black);
  font-size: 25px;
  margin: 3px 0px;
}

h4 {
  color: var(--black);
  font-size: 22px;
  margin: 15px 0px 3px 0px;
}
p {
  color: var(--black);
  font-size: 22px;
  margin: 0px;
}

.favicon {
  vertical-align: sub;
  width: 16px;
}

.large-navbar-grid-container {
  display: flex;
  justify-content: center;
  margin: 0px;
}
.large-navbar-grid-container nav {
  background: var(--off-white);
  border-bottom: 1px groove var(--black);
  padding: 10px 5px;
  position: fixed;
  top: 0;
  width: 100%;
}

.large-navbar-grid {
  column-gap: 3px;
  display: grid;
  grid-template-columns: 70fr 10fr 10fr 10fr;
}

.navbar-grid-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.navlink {
  color: var(--black);
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  margin: 0 auto;
}

.navlink:hover {
  font-weight: bold;
}

.large-navbar-favicon {
  padding-left: 1vw;
  width: 22px;
  vertical-align: text-top;
}

.mobile-navbar-grid-container {
  display: flex;
  justify-content: center;
  margin: 0px;
}
.mobile-navbar-grid-container nav {
  position: fixed;
  bottom: 0;
  background: var(--black);
  width: 100%;
}

.mobile-navbar-grid {
  column-gap: 3px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat (2, 1fr);
  padding: 10px;
  row-gap: 0px;
}

.mobile-navbar-grid-item {
  align-items: center;
  background: var(--off-white);
  border: 1px solid var(--black);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 25px 15px;
  text-align: center;
}

.grid-col-span-3 {
  grid-column: span 3;
}

.mobile-navlink {
  color: var(--black);
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  margin: 0 auto;
}

.mobile-navbar-homelink-wrapper {
  border-top: 1px groove var(--off-white);
  margin-top: 10px;
  padding: 5px;
  text-align: center;
}

.mobile-navbar-homelink {
  color: var(--off-white);
  font-size: 18px;
  text-decoration: none;
}

.mobile-navbar-favicon {
  width: 20px;
  vertical-align: text-top;
}

.icon {
  padding-right: 5px;
}

.homepage-hero {
  background-image: linear-gradient(rgba(1, 0, 0, 0.5), rgba(1, 0, 0, 0.5)),
    url("/images/couple_dancing.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  line-height: 100vh;
  text-align: left;
  filter: brightness(3px);
}

.aboutContent {
  background: var(--off-white);
  padding: 10px;
  height: 100vh;
}

.about-pic {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3px;
  height: 30vh;
  width: 100vw;
}

.classesContent {
  background: var(--off-white);
  padding: 10px;
}

.classes-pic {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3px;
  height: 30vh;
  width: 100vw;
  filter: grayscale(25%);
}

.classes-grid-wrapper {
  display: flex;
  margin: 0 auto;
}

.classes-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  margin: 15px auto;
}

.card {
  background: var(--white);
  border: 1px solid var(--black);
  border-radius: 10px;
  max-width: 300px;
}

.card-header {
  max-width: 300px;
}

.card-header img {
  border-radius: 4px;
  width: 100%;
}

.card-body {
  padding: 15px 10px 10px;
}

.studio-locations {
  font-size: 22px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.studio-map {
  border-radius: 4px;
  display: block;
  margin: 15px auto;
  width: 100%;
}

.studio-link {
  background: var(--teal);
  border: 1px solid var(--dark-teal);
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: var(--black);
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin: 20px 15px 15px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.udance-logo {
  background: var(--teal);
}
.partiesContent {
  background: var(--off-white);
  padding: 10px;
}

.parties-pic {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3px;
  height: 30vh;
  width: 100vw;
}

@media (max-width: 768px) {
  .large-devices {
    display: none;
  }

  table {
    background: var(--white);
    border-radius: 0px 0px 4px 4px;
  }
  caption {
    background: var(--dark-teal);
    border-bottom: 3px groove var(--off-white);
    border-radius: 4px 4px 0px 0px;
    color: var(--white);
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    padding: 5px;
    text-align: center;
  }

  th {
    display: none;
  }
  td {
    display: block;
    font-size: 22px;
    margin-bottom: 3px;
    padding-left: 10px;
  }

  td:first-child {
    margin-top: 10px;
  }

  td:last-child {
    border-bottom: 2px groove var(--teal);
    padding-bottom: 10px;
  }

  td::before {
    content: attr(data-cell) ": ";
    font-weight: bold;
    text-transform: capitalize;
  }
}

@media (min-width: 768px) {
  h1 {
    color: var(--off-white);
    display: inline-block;
    font-size: clamp(35px, 5vw, 96px);
    line-height: normal;
    padding-left: 22%;
    padding-top: 5%;
    -webkit-text-stroke: 1px rgba(1, 0, 0, 0.4);
  }

  .homepage-hero {
    background: linear-gradient(
        left to right,
        rgba(1, 0, 0, 0.5),
        rgba(1, 0, 0, 0.5)
      ),
      url("/images/couple_dancing.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    line-height: 100vh;
    filter: brightness(3px);
    text-align: left;
  }

  .small-devices {
    display: none;
  }
}
